<form   [formGroup]="fg" >
      <div class="title">{{formConfig.formTitle}}</div>

      <div *ngFor="let control of formConfig.controlConfigs; let i=index;">
        <div [ngSwitch]="control.controlType">
                <ng-container *ngSwitchCase="controlType.Input">
                  <app-input [control]="control" [fg]="fg" > </app-input>
                </ng-container>

                <ng-container *ngSwitchCase="controlType.Select">
                  <app-select [control]="control" [fg]="fg" > </app-select>
                </ng-container>

                <ng-container *ngSwitchCase="controlType.CheckBox">
                  <app-checkbox [control]="control" [fg]="fg" > </app-checkbox>
                </ng-container>

                <ng-container *ngSwitchCase="controlType.RadioButton">
                  <app-radiobutton [control]="control" [fg]="fg" > </app-radiobutton>
                </ng-container>
          </div>
      </div>
      <button mat-raised-button color="primary" (click)="formSubmit()" >Primary</button>
  </form>
