.title {
  color: black ;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding-bottom: 10px;
  background-color: orange;
  text-align: center;
  font-size: 1.1em;
  margin: auto;
  vertical-align: middle;
  height: 1.1em;
}
