<form   [formGroup]="fg" >
      <div class="title">{{formConfig.formTitle}}</div>

      <div *ngFor="let control of formConfig.controls; let i=index;">

        <div [ngSwitch]="control.controlType">

                  <!-- Input Control section  -->
                  <mat-form-field *ngSwitchCase="controlType.Input">
                      <input matInput
                      [formControlName]="control.name"
                      placeholder="{{control.placeHolder}}"
                      value="{{getInputValue(control)}}"
                      [attr.maxLength] = "getMaxLength(control)"
                      [attr.minLength] = "getMinLength(control)"
                      >
                      <mat-error *ngIf="fg.controls[control.name].hasError('required')">
                          {{control.errorMessage}}
                      </mat-error>
                    </mat-form-field>


                    <!-- select control section  -->
                    <mat-form-field *ngSwitchCase="controlType.Select">
                        <mat-label>{{control.placeHolder }} </mat-label>
                        <mat-select
                        [formControlName]="control.name"
                        multiple  = "{{isMultiSelect(control)}}" >
                          <mat-option *ngFor="let opt of getSelectOptions(control)" [value]="opt.value">
                            {{opt.text}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>


                     <section  *ngSwitchCase="controlType.CheckBox" >
                      <label> {{getTitle(control)}} </label>
                      <p [formArrayName]="control.name" *ngFor="let opt of getSelectOptions(control);let i = index" >
                        <mat-checkbox [formControlName]="i" [checked]="opt.selected"  [value]="opt.value">
                          {{opt.text}}
                          </mat-checkbox>
                      </p>
                       <mat-error *ngIf="showError(control.name, 'minRequireOne')">
                          {{control.errorMessage}}
                      </mat-error>
                    </section>

                    <section  *ngSwitchCase="controlType.RadioButton" >
                        <label> {{getTitle(control)}} </label>
                        <mat-radio-group [formControlName]="control.name">
                            <mat-radio-button [checked]="opt.selected"  *ngFor="let opt of getSelectOptions(control)"
                             [value]="opt.value">
                                {{opt.text}}
                            </mat-radio-button>
                            <mat-error *ngIf="showError(control.name)">
                                {{control.errorMessage}}
                            </mat-error>
                          </mat-radio-group>
                      </section>
          </div>
      </div>
      <button mat-raised-button color="primary" (click)="formSubmit()" >Primary</button>
  </form>
